name: task2

on:
  push:
    branches: [main]

jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
      - name: print hello
        run: echo "Hello how are u "

  job2:
    runs-on: ubuntu-latest

    steps:
      - name: print hello
        run: echo "Hello how are u "
